trigger:
  - master
  - refs/tags/*

variables:
  BUILD_NUMBER: $(Build.BuildNumber)
#   XAMARIN_ANDROID_PATH: <path to Xamarin.Android>

resources:
  repositories:
    - repository: internal-templates
      type: github
      name: xamarin/yaml-templates
      endpoint: xamarin
    - repository: components
      type: github
      name: xamarin/XamarinComponents
      endpoint: xamarin

jobs:
  - template: .ci/build.yml@components
    parameters:
      cakeExtraArgs: '--settings_skipverification=true --nuget_useinprocessclient=false'
      tools:
        - 'xamarin.androidbinderator.tool': '0.3.0'
        - 'xamarin.androidx.migration.tool': '1.0.0-preview03'
      postBuildSteps:
        - script: |
            # Make a temp folder to move the created nugets to before we fat package them
            mkdir -p $(Build.SourcesDirectory)/tmp/nuget
            mkdir -p $(Build.SourcesDirectory)/tmp/output
            # Move all of the nupkg files from output into the temp folder we just created
            mv $(Build.SourcesDirectory)/output/*.nupkg $(Build.SourcesDirectory)/tmp/nuget
            # Move the remaining output bits to a temp location so they don't get overwritten
            mv $(Build.SourcesDirectory)/output/* $(Build.SourcesDirectory)/tmp/output
            sh build.sh --script nuget.cake \
              --localSource=$(Build.SourcesDirectory)/tmp/nuget \
              --packagesPath=$(Build.SourcesDirectory)/tmp/pkgs \
              --workingPath=$(Build.SourcesDirectory)/tmp/working \
              --outputPath=$(Build.SourcesDirectory)/output \
              --incrementVersion=False \
              --packLatestOnly=True \
              --useExplicitVersion=True
            # Move the other output bits back to the original output folder
            mv $(Build.SourcesDirectory)/tmp/output/* $(Build.SourcesDirectory)/output
          displayName: 'NuGet FAT'
          enabled: false
        # Run some internal auditing on Windows
        - ${{ if and(eq(variables['System.TeamProject'], 'devdiv'), eq(variables['System.JobName'], 'windows')) }}:
          - task: ms.vss-governance-buildtask.governance-build-task-component-detection.ComponentGovernanceComponentDetection@0
            condition: not(startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
            displayName: Component Detection - Log
            inputs:
              scanType: LogOnly
          - task: ms.vss-governance-buildtask.governance-build-task-component-detection.ComponentGovernanceComponentDetection@0
            condition: startsWith(variables['Build.SourceBranch'], 'refs/tags/')
            displayName: Component Detection - Report
          - task: securedevelopmentteam.vss-secure-development-tools.build-task-policheck.PoliCheck@1
            condition: eq(variables['System.TeamProject'], 'devdiv')
            displayName: 'PoliCheck'
            inputs:
              targetType: F
  - ${{ if eq(variables['System.TeamProject'], 'devdiv') }}:
    - template: sign-artifacts/jobs/v1.yml@internal-templates
      parameters:
        dependsOn: [ 'build' ]
